In [5]:
import pandas as pd
import re

In [6]:
path = './save_csv/'

lsts = []

for i in range(1, 3):
    lst = pd.read_csv(f'{path}river_behind{i}.csv')
    lsts.append(lst)

In [7]:
data = lsts[0]

for i in range(1, 2):
    data = pd.concat([data,lsts[i]])

data

,restaurant,tag,url,review
0,텍사스데브라질 압구정점,"스테이크,립",https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.34리뷰 999+TV생방송투데이
1,미뉴트 빠삐용,"카페,디저트",https://map.naver.com/v5/search/%EA%B0%95%EB%8...,영업 전리뷰 267서울 강남구 신사동
2,까폼,태국음식,https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.51리뷰 999+TV맛있는녀석들
3,노티드 청담,카페,https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.44리뷰 999+TV전지적참견시점
4,뱃고동,낙지요리,https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.28리뷰 999+TV식객허영만의백반기행
...,...,...,...,...
295,타코앤칠리,"멕시코,남미음식",https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.96리뷰 367
296,엘피노323,"멕시코,남미음식",https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.48리뷰 672TV신상출시편스토랑
297,낭만옵빠 신사,"오뎅,꼬치",https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.58리뷰 242
298,미라이,일식당,https://map.naver.com/v5/search/%EA%B0%95%EB%8...,영업 종료리뷰 401일식이자카야튀김세련된신선한
299,레 부르주아,와인,https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.82리뷰 506

In [8]:
data['url']= data['url'].apply(lambda x: re.findall(r'/[0-9]+', x)[0][1:])
data['review'] = data['review'].apply(lambda x: re.findall(r'[\d{1.2}]+', x))
data

       restaurant       tag         url       review
0    텍사스데브라질 압구정점    스테이크,립  1675303081  [4.34, 999]
1         미뉴트 빠삐용    카페,디저트  1867823297        [267]
2              까폼      태국음식    38969614  [4.51, 999]
3          노티드 청담        카페   895457986  [4.44, 999]
4             뱃고동      낙지요리    11700226  [4.28, 999]
..            ...       ...         ...          ...
295         타코앤칠리  멕시코,남미음식  1392526471  [4.96, 367]
296        엘피노323  멕시코,남미음식    38526674  [4.48, 672]
297       낭만옵빠 신사     오뎅,꼬치    36003590  [4.58, 242]
298           미라이       일식당    83081035        [401]
299        레 부르주아        와인  1826984139  [4.82, 506]

[600 rows x 4 columns]

In [9]:
data = data.drop_duplicates('restaurant') # restaurant

In [10]:
data[data['restaurant'] == '텍사스데브라질 압구정점']

     restaurant     tag         url       review
0  텍사스데브라질 압구정점  스테이크,립  1675303081  [4.34, 999]